<div class="max-w-md w-full mx-auto">
  <% if Rails.env.production? %>
    <div class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
      <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <span class="sr-only">Info</span>
      <div>
        Please note this is not a production app. This app is currently for demo purposes. Your account and information you post may be removed.
      </div>
    </div>
  <% end %>

  <div class="mt-6 text-center text-3xl tracking-tight font-semibold text-gray-900">
    <h2 class="text-3xl text-blue-700 mb-2">
      <%= link_to "Social Connect 6", root_path %>
    </h2>
    <h3 class="text-2xl">Sign up</h3>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <div class="mb-6">
      <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <% if @minimum_password_length %>
      <em class="text-sm text-gray-700" >(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
