<% unless comment.parent_id %>
  <div class="border-t">
    <div class="py-2 pl-5 pr-4">
      <div class="flex text-xs text-gray-600">
        <p class="mr-auto"><%= comment.user.email %></p>
        <p><%= comment.created_at.strftime("%b %d, %Y") %></p>
      </div>
      <p class="my-1 py-1 px-2 bg-gray-100 rounded">
        <%= comment.content %>
      </p>
      <div class="flex mb-2 px-4">
        <%= link_to new_post_comment_path(comment.post.id, parent_id: comment.id), data: { turbo_frame: "#{dom_id(comment)}_new_reply" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
          </svg>
        <% end %>
        <div class="mx-4">
          <%= turbo_frame_tag "#{dom_id(comment)}_likes" do %>
            <% if current_user.liked? comment %>
              <%= render partial: "comments/unlike", locals: { comment: comment } %>
            <% else %>
              <%= render partial: "comments/like", locals: { comment: comment } %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag "#{dom_id(comment)}_new_reply" %>
      <%= turbo_frame_tag "#{dom_id(comment)}_replies" do %>
        <div>
          <% comment.replies.each do |reply| %>
            <%= render partial: "replies/reply", locals: { reply: reply }%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>