<div class="container-md mx-auto py-8 max-w-lg sm:px-0 px-4">
<!--  <div class="pb-4 border-b">
    <%#= link_to "New post", new_post_path, data: { turbo_frame: dom_id(Post.new) }, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
  </div> -->

  <%= turbo_frame_tag Post.new do %>
    <%= render "form", post: Post.new %>
  <% end %>
  
  <div class="my-4">
    <%= turbo_frame_tag "posts" do %>
      <%= render @posts %>
    <% end %>
  </div>

  <div id="next_link">
    <%#== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
  <div id="pager" class="min-w-full my-8 flex justify-between">
    <div>
      <% if @pagy.prev %>
        <%= link_to sanitize("&larr; Previous page"), posts_path(page: @pagy.prev), class: "btn btn-sm" %>    
      <% end %>
    </div>
    <div>
      <% if @pagy.next %>
        <%= link_to sanitize("Next page &rarr;"), posts_path(page: @pagy.next), class: "btn btn-sm" %>    
      <% end %>
    </div>
  </div>
</div>
